body {
  font-family: times new roman;
  font-size: 12pt;
}

.container {
  display:flex;
  flex-direction: row;
}

ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}

.nav {
  justify-content: space-around;
}