
#the-background {
	background-color: plum;
}

h1 {
	font-family: comic sans ms, tahoma;
}

em {
	font-weight: bold;
}

li {
	font-size: 13px;
}

div p {
	background-color: rebeccapurple;
	font-size: 2em;
	height: 200px;
	width: 200px;
	border: 10px dotted lawngreen;
	border-radius: 20px;
}

.border2 {
	border: 10px double darkgreen;
}

.border3 {
	border: 10px dashed lime;
}