body {
	background-color: powderblue;
	font-family: Helvetica, arial, sans-serif;
}

h1 {
	font-family: Helvetica, arial, sans-serif;
	text-align: center;
}

h2 {
	color: navajowhite;
	font-size: 1rem;
	font-family: Helvetica, arial, sans-serif;
}

ul {
	list-style-type: square;
}

ol {
	list-style-type: upper-alpha;
}

div {
	background-color: thistle;
	height: 100px;
	width: 500px;
	border-radius: 25px;
}

div p {
	font-size: 2em;
	text-align: center;
}

#div1 {
	border:5px solid teal;
}

#div2 {
	border:5px solid mediumvioletred;
}

#div3 {
	border:5px solid lemonchiffon;
}

.spacer {
	background-color: powderblue;
	height: 50px;
}

.special-header {
	color: violet;
}

#what-is-css {
	background-color: hotpink;
}

em {
	font-style: normal;
	font-weight: bold;
}

li {
	font-size: 2rem;
}