* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
}

h1 {
  margin: 15px;
}

h1.page-title {
  text-align: center;
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.flex-container {
  padding: 0;
  margin-bottom: 100px;
  list-style: none;
  display: flex;
  background-color: #fff0f1;
}

.flex-item {
  background: #fc6163;
  border: 3px solid rgba(255,255,255,.5);
  line-height: 100px;
  color: white;
  font-weight: bold;
  padding: 0 50px;
  font-size: 2rem;
  text-align: center;
}

/* Demo 1 */
.demo1 {
  justify-content: space-between;
}

/* Demo 2 */
.demo2 {
  justify-content: space-around;
}


/* Demo 3 */
.demo3 {
  justify-content: center;
}


/* Demo 4 */
.demo4 {
  justify-content: flex-end;
}


/* Demo 5 */
.demo5 {
  height: 200px;
  justify-content: space-around;
  align-items: flex-start;
}


.demo5 .flex-item:nth-of-type(2) { height: 75px; }
.demo5 .flex-item:nth-of-type(4) { height: 150px; }


/* Demo 6 */
.demo6 {
  height: 200px;
  justify-content: space-around;
  align-items: center;
}

.demo6 .flex-item:nth-of-type(2) { height: 200px; }
.demo6 .flex-item:nth-of-type(4) { height: 150px; }


/* Demo 7 */
.demo7 {
  height: 200px;
  justify-content: space-around;
  align-items: stretch;
}


/* Demo 8 */
.demo8 {
  height: 200px;
  justify-content: space-around;
  align-items: center;
}


/* Demo 9 */
.demo9 {
  height: 500px;
  flex-wrap: wrap;
  align-items: center;
}


/* Demo 10 */
.demo10 {
  height: 500px;
  flex-wrap: wrap;
  align-items: center;
  align-content: flex-end;
}

/* Demo 11 */
.demo11 .flex-item:nth-of-type(1) { flex-grow: 1; }
.demo11 .flex-item:nth-of-type(2) { flex-grow: 1; }
.demo11 .flex-item:nth-of-type(3) { flex-grow: 2; }
.demo11 .flex-item:nth-of-type(4) { flex-grow: 1; }


/* Demo 12 */
.demo12 {
  justify-content: space-around;
  flex-direction: row-reverse;
}
