.flex-style-small{
	display: flex;
	justify-content: space-between;
}

.flex-style-medium{
	display: flex;
	justify-content: space-between;
}

.flex-style-large{
	display: flex;
	justify-content: space-between;
}

.flex-style-nav{
	display: flex;
	flex-direction: row;
}