nav{
  display: flex;
  justify-content: space-between;
}

nav h3{
  justify-content: flex-start;
}

nav ul{
  text-decoration: none;
  justify-content: flex-end;
}

.featured-container{
  display: flex
  justify-content: space-around;
}

.container{
  display:flex;
  justify-content: space-around;
}

footer{
  display: flex;
  flex-direction: column;
}